*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

body{
    background-image: url("./images/video-games-hollow-knight-video-game-art-fantasy-art-hd-wallpaper-b9d0c81d31cafd3b2637f8df30f1969d.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    height: 20rem;
    width: auto;
    object-fit: contain;
}

h3,
p {
    color: white;
    font-size: 1.6rem;
    width: 100%;
}

.nav-bar{
    height: 80px;
    background-color: #2a2a2a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav-bar h1{
    font-size: 2.8rem;
    margin-left: 20px;
    font-weight: bold;
}

.nav-bar p{
    margin-bottom: 10px;
    margin-left: 70px;
    font-size: 1rem;
}


.page-links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    margin-right: 90px;
}

.page-links a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.follow-checklist{
    width: 400px;
    background-color: #2a2a2a;
    position: fixed;
    top: 100px;
    left: 60px;
    border-radius: 20px;
}


.content{
    height: 100%;
    width: 900px;
    background-color: #2a2a2a;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    padding-bottom: 20px;
}

.content h1{
    margin: 40px 0px;
    font-size: 2.5rem;
    text-decoration: underline;
}

.content h2{
    margin: 30px 0px;
    font-size: 2.2rem;
    text-decoration: underline;
}

.content h3{
    text-align: center;
}

.section-title {
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
}

.fa {
    font-size: 3rem;
    padding: 1rem;
}

.img-magnifier-container{
    border-radius: 5px;
    /* margin-bottom: 10px; */
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid white;
    cursor: none;
    width: 200px;
    height: 200px;
}

.content h3{
    font-size: 1.6rem;
}

.step-img{
    width: 600px;
    border-radius: 5px;
    margin-top: 20px;
}

.content p{
    padding: 0px 50px;
    font-size: 1.2rem;
    margin: 20px 0px 0px 0px;
    text-align:justify ;
}

.check-list{
    align-self: center;
    font-size: 1.5rem;
    display: flex;
    margin: 20px;
}

.check-list input{
    width: 40px;
    height: 30px;
}
.check-list label{
    color: lightskyblue;
}
input:checked + label{
    text-decoration: line-through;
    color: lightgreen;
}

@media screen and (max-width: 767px) {
	.feedback-slider-item:after {
		left: 30px;
		right: 30px;
	}
	.customer-feedback .owl-nav [class*="owl-"] {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer-feedback .owl-prev {
		left: 0;
	}
	.customer-feedback .owl-next {
		right: 0;
	}
}